{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@__mocks__/(.*)$",
    "^@components",
    "^@components/(.*)$",
    "^@styles",
    "^@styles/(.*)$",
    "^@services",
    "^@services/(.*)$",
    "^@stores",
    "^@stores/(.*)$",
    "^@domains",
    "^@domains/(.*)$",
    "^@useCases",
    "^@useCases/(.*)$",
    "^@hooks",
    "^@hooks/(.*)$",
    "^@features",
    "^@features/(.*)$",
    "^@constants",
    "^@constants/(.*)$",
    "^@locales",
    "^@locales/(.*)$",
    "^@helpers",
    "^@helpers/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
